
body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

	#container {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
		
		#intro {
			display: none;
		}

		.show-intro #intro {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 20;
			text-align: center;
			padding: 20vh 0 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: default;
		}
		
			#intro h1 {
				font-size: 20vh;
				font-weight: 500;
				color: #fff;
				text-shadow: 0 0 40px #000;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				line-height: 1em;
			}

			#intro p {
				font-size: 8.5vh;
				font-weight: 500;
				color: #eee;
				text-shadow: 0 0 40px #000;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				line-height: 1em;
			}
			
			#button-start {
				display: none;
			}
			
			.ready #button-explore,
			.ready #button-start {
				display: inline-block;
				border-radius: 1em;
				font-size: 3.5vh;
				padding: .3em .8em 0.2em .8em;
				background-color: #c00;
				color: #fff;
				text-decoration: none;
				-webkit-transition: background-color, box-shadow 200ms ease-out;
				-moz-transition: background-color, box-shadow 200ms ease-out;
				-o-transition: background-color, box-shadow 200ms ease-out;
				transition: background-color, box-shadow 200ms ease-out;
				font-weight: 300;
				margin-top: .7em;
				margin-left: .5em;
				box-shadow: 0 0 30px rgba(0,0,0,0.5);
				text-shadow: 0 0 30px rgba(0,0,0,0.5);
			}

				#button-explore:hover,
				#button-start:hover {
					background-color: #d00;
					box-shadow: 0 0 30px rgba(0,0,0,0.75);
				}

				#button-explore i,
				#button-start i {
					font-size: .85em;
					vertical-align: -9%;
				}
				
				@media (max-width: 500px) { 
					#intro h1 {
						font-size: 5em;
						margin-top: 20px;
					}
					#intro p {
						font-size: 2.5em;
					}
				}

		.content {
			display: none;
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 50%;
			min-width: 300px;
			background-color: rgba(0,0,0,0.67);
			overflow-x: hidden;
			overflow-y: auto;
			z-index: 1;
			-webkit-transition: opacity 300ms ease;
			-moz-transition: opacity 300ms ease;
			-o-transition: opacity 300ms ease;
			transition: opacity 300ms ease;
		}

			.show-content .content {
				display: block;
				opacity: 1;
				-webkit-transition: opacity 300ms ease;
				-moz-transition: opacity 300ms ease;
				-o-transition: opacity 300ms ease;
				transition: opacity 300ms ease;
			}

			.content-wrapper {
				position: relative;
				margin:  8vh auto 0 auto;
				height: 84vh;
				width: 90%;
				max-width: 600px;
				max-height: 780px;
			}

				.small .content-wrapper {
					margin: 0px;
					width: auto;
					height: auto;
					max-width: none;
					max-height: none;
					padding: 20px 20px 40px;
				}

			.content {

			}	
				.col3 {
					width: 33%;
					float: left;
				}
				.col3left   { text-align: left; }
				.col3center { text-align: center; }
				.col3right  { text-align: right; }

				.small .content {
					top: auto;
					width: 100%;
					min-height: 300px;
				}

				.content h2 {
					color: #fff;
					margin: 0;
					padding: 0;
					line-height: 1.2em;
					font-weight: 300;
					font-size: 2.5em;
					text-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
				
					.small .content h2 {
						font-size: 1.6em;
						margin: 0px 0px 10px;
						padding: 0;
					}
				

				.content p, .content .nav {
					color: #fff;
					margin: 20px 0 0;
					padding: 0;
					line-height: 1.4em;
					font-weight: 300;
					font-size: 1.5em;
					text-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
			
					.small .content p, .small .content .nav {
						font-size: 1em;
					}

					.content p a {
						color: #c00;
					}
			
					.content .nav {
						display: inline-block;
						position: absolute;
						bottom: 0px;
						width: 100%;
					}
						.show-explore .content .nav {
							display: none;
						}
				
						.small .content .nav {
							position: static;
							margin-top: 20px;
						}

					.content .nav .goto {
						display: inline-block;
						border-radius: 20px;
						padding: 5px 15px 2px;
						text-decoration: none;
						-webkit-transition: background-color, box-shadow 200ms ease-out;
						   -moz-transition: background-color, box-shadow 200ms ease-out;
						     -o-transition: background-color, box-shadow 200ms ease-out;
						        transition: background-color, box-shadow 200ms ease-out;
					}
					
						.content .nav .goto i {
							font-size: .9em;
							vertical-align: -9%;
						}

						.content .nav .goto-red {
							background-color: #c00;
							color: #fff;
						}
						.content .nav .goto-grey {
							background-color: #555;
							color: #ccc;
						}

						.content .nav .goto-red:hover {
							background-color: #d00;
							box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
						}

						.content .nav .goto-grey:hover {
							background-color: #666;
							color: #fff;
							box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
						}
					
				.small .content .content-text {
					display: block;
					position: relative;
					margin: 0;
					overflow-x: hidden;
					overflow-y: auto;
					max-height: 150px;
				}

					.small .content .content-text p {
						margin: 0 0 10px;
						padding: 0;
						font-size: .85em;
					}

		#content-1928 {
			z-index: 2;
		}

		#content-2015 {
			z-index: 6;
		}

		#map-base {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}

		#map-clip {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			right: 0;
			bottom: 0;
			z-index: 3;
			overflow: hidden !important;
			border-left: 1px solid #c00;
			pointer-events: none;
		}
			#map-clip .leaflet-control {
				pointer-events: none;
			}
		
			#map-clip-inner {
				display: block;
				position: absolute;
				top: 0;
				left: -100%;
				right: 0;
				bottom: 0;
			}

			#map-overlay {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
			}
			
		.leaflet-control-container .leaflet-top.leaflet-right {
			top: 70px;
		}

		.marker-info {
			display: none;
			color: rgba(255,255,255,0.0);
			background-color: rgba(204,0,0,1.0);
			border-radius: 16px;
			box-shadow: 0px 0px 1px rgba(0,0,0,1);
			text-align: center;
			width: 8px;
			height: 8px;
			margin-left: -4px;
			margin-top: -4px;
			font-size: 6px;
			line-height: 9px;

			-webkit-appearance: none;
			-webkit-transition: all 200ms ease-out;
			   -moz-transition: all 200ms ease-out;
			     -o-transition: all 200ms ease-out;
			        transition: all 200ms ease-out;
		}

			.show-explore .marker-info {
				display: block;
			}
			.marker-info.hover {
				background-color: rgba(204,0,0,1);
				color: rgba(255,255,255,1);
				box-shadow: 0px 0px 8px rgba(0,0,0,1);
				width: 32px;
				height: 32px;
				margin-left: -16px;
				margin-top: -16px;
				font-size: 23px;
				line-height: 36px;
			}
			
		#control-slider {
			display: block;
			position: absolute;
			top: 20px;
			left: 50%;
			width: 40px;
			height: 40px;
			margin-left: -20px;
			background-color: #c00;
			border-radius: 100%;
			text-align: center;
			line-height: 44px;
			font-size: 1em;
			z-index: 10;
			font-weight: bold;
			color: #fff;
			cursor: ew-resize;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			box-shadow: 0px 0px 20px rgba(0,0,0,1);
			text-shadow: 0px 0px 3px rgba(0,0,0,0.33);
		}

			#control-slider i {
				margin: 0px -0.2em;
			}

			#control-slider::before, #control-slider::after {
				display: block;
				position: absolute;
				padding: 1px 10px 0px 10px;
				top: 8px;
				z-index: -1;
				color: #fff;
				font-size: 1em;
				font-weight: bold;
				height: 23px;
				line-height: 22px;
				background-color: #c00;
				letter-spacing: 0.1em;
				border-radius: 7px;
			}

				#control-slider::before {
					content: "1928";
					text-align: right;
					padding-right: 40px;
					right: 0px;
				}

				#control-slider::after {
					content: "2015";
					text-align: left;
					padding-left: 40px;
					left: 0px;
				}
		
		#credit {
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 3;
			padding: 10px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;
		}

			.small #credit {
				background-color: rgba(0,0,0,0.8);
				padding: 0;
				margin: 0;
				left: 0;
			}
		
			.small #credit * {
				display: none;
			}
			
			#credit a {
				display: inline-block;
				float: left;
				position: relative;
				text-decoration: none;
			}
		
			#tsp {
				color: transparent;
				height: 40px;
				width: 180px;
				background: url(../images/tagesspiegel.svg) center center no-repeat;
				background-size: contain;
				margin: 0 20px;
				padding: 0;
			}

			#source {
				width: 140px;
				height: 32px;
				padding: 0;
				color: #fff;
				font-size: .8em;
				line-height: 16px;
				text-shadow: 0 0 3px #000, 0 0 5px #000, 0 0 10px #000;
				padding: 4px 0;
				text-align: right;
				font-weight: 400;
				-webkit-touch-callout: auto;
				-webkit-user-select: auto;
				-khtml-user-select: auto;
				-moz-user-select: auto;
				-ms-user-select: auto;
				user-select: auto;
				pointer-events: auto;
			}
			
				.small #source {
					display: block !important;
					text-align: center !important;
					width: 100%;
					font-size: .7em;
					height: auto;
					padding: 3px 0;
					color: #aaa;
					
				}
					
			#dsst {
				width: 100px;
				height: 32px;
				padding: 4px 0px 4px 50px;
				background: url(../images/dsst.png) left center no-repeat;
				background-size: 40px;
				color: #fff;
				font-size: .8em;
				line-height: 16px;
				text-transform: uppercase;
				text-shadow: 0 0 3px #000, 0 0 5px #000, 0 0 10px #000;
			}

