
body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

	#container {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
		
		.show-intro #controls {
			display: none;
		}
		
		#controls {
			display: block;
			position: absolute;
			right: 10px;
			top: 80px;
			width: 1.625em;
			z-index: 10;
		}
		
			#controls a {
				display: block;
				position: relative;
				width: 1.625em;
				height: 1.625em;
				background-color: #fff;
				line-height: 1.75em;
				text-align: center;
				text-decoration: none;
				color: #000;
			}

			#controls a.disabled,
			#controls a.disabled:hover,
			#controls a.disabled:active,
			#controls a.disabled:focus {
				color: #999;
				background-color: #eee;
				pointer-events: none;
				cursor: default;
			}

			#controls .controls-group {
				display: block;
				margin-bottom: .8em;
				overflow: hidden;

				border-radius: 2px;
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
			}
			
			#controls .controls-group.controls-group-capable {
				display: none;
			}

			.has-geolocation #controls .controls-group.controls-group-capable,
			.has-fullscreen #controls .controls-group.controls-group-capable {
				display: block;
			}

			#controls a+a {
				border-top: 1px solid #ccc;
			}
			
				#controls a span {
					display: block;
					position: relative;
				}
			
				#controls a:hover {
					background-color: #eee;
				}

				#controls a.text-icon {
					font-size: 1.3em;
					line-height: 1.2;
				}

				#controls a.fullscreen,
				#controls a.geolocate {
					display: none;
				}
				
				#controls a.spin span {
					animation: 1s ease 0s normal none infinite running spin;
				}

				@keyframes spin {
					0% { transform: rotate(0deg) translate(-1px, 3px); }
					100% { transform: rotate(359deg) translate(-1px, 3px); }
				}
				
				.has-fullscreen #controls a.fullscreen,
				.has-geolocation #controls a.geolocate {
					display: block;
				}

				#controls a.twitter:hover {
					background-color: #00aced;
					color: #fff;
				}

				#controls a.facebook:hover {
					background-color: #3b5998;
					color: #fff;
				}

				#controls a.googleplus:hover {
					background-color: #dd4b39;
					color: #fff;
				}
		
			/* controls on small devices */
			
			.has-touch #controls {
				top: 10px;
				left: 5px;
				right: 5px;
				width: auto;
				height: 1.625em;
				z-index: 100;
				text-align: center;
			}
			
				.has-touch.has-fullscreen #controls a.fullscreen,
				.has-touch.has-geolocation #controls a.geolocate,
				.has-touch #controls a {
					display: block;
					float: left;
					margin: 0;
					padding: 0;
					border-top-width: 0;
					width: 1.8em;
					height: 1.8em;
					background-color: #fff;
					line-height: 2em;
				}
				
				.has-touch #controls a+a {
					border-left: 1px solid #ccc;
				}
				
				.has-touch.has-geolocation #controls .controls-group.controls-group-capable,
				.has-touch.has-fullscreen #controls .controls-group.controls-group-capable,
				.has-touch #controls .controls-group {
					display: inline-block;
					margin-bottom: 0;
					margin-right: .5em;
					overflow: hidden;
					box-shadow: 0 0 0 4px rgba(0,0,0,0.3);
				}
				
		
		/*
		
		.show-intro #controls {
			display: none;
		}
		
		.show-content #controls {
			display: none;
		}
		
			#controls a {
				display: block;
				position: relative;
				width: 26px;
				height: 26px;
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
				border-radius: 4px;
				background-color: #fff;
				margin-bottom: 5px;
				line-height: 28px;
				text-align: center;
				text-decoration: none;
				color: #000;
				font-size: .9em;
			}
			
				#controls a:hover {
					background-color: #eee;
				}
				
				.show-explore #controls a.switch-explore,
				.show-content #controls a.geolocate,
				.show-content #controls a.share,
				.show-content #controls a.popup,
				.show-content #controls a.switch-tour {
					display: none;
				}
				
		*/
		
		#intro {
			display: none;
		}

		.show-intro #intro {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 20;
			text-align: center;
			padding: 20vh 0 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: default;
		}
		
			#intro h1, #intro p {
				font-weight: 500;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				line-height: 1em;
			}

			#intro h1 {
				font-size: 20vh;
				text-shadow: 0 0 4vh #000;
				color: #fff;
			}

			#intro p {
				font-size: 8.5vh;
				text-shadow: 0 0 1.6vh #000;
				color: #eee;
			}
			
			#button-start {
				display: none;
			}
			
			.ready #button-explore,
			.ready #button-start {
				display: inline-block;
				border-radius: 1em;
				font-size: 3.5vh;
				padding: .3em .8em 0.2em .8em;
				background-color: #c00;
				color: #fff;
				text-decoration: none;
				-webkit-transition: background-color, box-shadow 200ms ease-out;
				   -moz-transition: background-color, box-shadow 200ms ease-out;
				     -o-transition: background-color, box-shadow 200ms ease-out;
				        transition: background-color, box-shadow 200ms ease-out;
				font-weight: 300;
				margin-top: .7em;
				margin-left: .5em;
				box-shadow: 0 0 30px rgba(0,0,0,0.5);
				text-shadow: 0 0 30px rgba(0,0,0,0.5);
			}

				#button-explore:hover,
				#button-start:hover {
					background-color: #d00;
					box-shadow: 0 0 30px rgba(0,0,0,0.75);
				}

				#button-explore i,
				#button-start i {
					font-size: .85em;
					vertical-align: -9%;
				}
				
				@media (max-width: 500px) { 
					#intro h1 {
						font-size: 5em;
						margin-top: 20px;
					}
					#intro p {
						font-size: 2.5em;
					}
				}

		.content {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 50%;
			min-width: 300px;
			background-color: rgba(0,0,0,0.67);
			overflow-x: hidden;
			overflow-y: auto;
			z-index: 1;
			pointer-events: auto;
		}

			.small .content {
				top: auto;
				bottom: 0px;
				width: 100%;
				height: 320px;
			}

			.content-wrapper {
				position: relative;
				margin:  8vh auto 0 auto;
				height: 84vh;
				width: 90%;
				max-width: 600px;
				max-height: 780px;
			}

				.small .content-wrapper {
					box-sizing: border-box;
					margin: 0px;
					width: 100%;
					height: 100%;
					max-width: none;
					max-height: none;
					padding: 20px 20px 40px;
				}

				.col2 {
					width: 50%;
					float: left;
				}
				.col2left   { text-align: left; }
				.col2right  { text-align: right; }

				.content h2 {
					color: #fff;
					margin: 0;
					padding: 0;
					line-height: 1.2em;
					font-weight: 300;
					font-size: 2.5em;
					text-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
				
					.small .content h2 {
						font-size: 1.6em;
						margin: 0px 0px 10px;
						padding: 0;
					}
				

				.content p, .content .nav {
					color: #fff;
					margin: 20px 0 0;
					padding: 0;
					line-height: 1.4em;
					font-weight: 300;
					font-size: 1.5em;
					text-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
			
					.small .content p, .small .content .nav {
						font-size: 1em;
					}

					.content p a {
						color: #c00;
					}
			
					.content .nav {
						display: block;
						position: absolute;
						bottom: 40px;
						left: 20px;
						right: 20px;
					}
						.show-explore .content .nav {
							display: none;
						}
				
						.small .content .nav {
						}

					.content .nav .goto {
						display: inline-block;
						border-radius: 20px;
						padding: 5px 15px 2px;
						text-decoration: none;
						-webkit-transition: background-color, box-shadow 200ms ease-out;
						   -moz-transition: background-color, box-shadow 200ms ease-out;
						     -o-transition: background-color, box-shadow 200ms ease-out;
						        transition: background-color, box-shadow 200ms ease-out;
					}
					
					.content .goto-explore {
						position: absolute;
						display: block;
						position: absolute;
						width: 1em;
						height: 1em;
						text-align: center;
						font-size: 1.2em;
						line-height: 1em;
						right: 0;
						top: 0;
						background-color: #fff;
						color: #c00;
						border-radius: 100%;
						text-decoration: none;
						margin: 0;
						padding: .6em .5em .4em;
						padding: .5em;
					}
						.small .content .goto-explore {
							top: 15px;
							right: 20px;
							font-size: .9em;
						}
						
					
						.content .goto-explore i {
							font-size: .9em;
						}


						.content .nav .goto i {
							font-size: .9em;
							vertical-align: -9%;
						}

						.content .nav .goto-red {
							background-color: #c00;
							color: #fff;
						}
						.content .nav .goto-grey {
							background-color: #555;
							color: #ccc;
						}

						.content .nav .goto-red:hover {
							background-color: #d00;
							box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
						}

						.content .nav .goto-grey:hover {
							background-color: #666;
							color: #fff;
							box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
						}
					
				.small .content .content-text {
					display: block;
					position: relative;
					margin: 0;
					overflow-x: hidden;
					overflow-y: auto;
				}

					.small .content .content-text p {
						margin: 0 0 10px;
						padding: 0;
						font-size: .85em;
					}

		#content-1928 {
			z-index: 2;
		}

		#content-2015 {
			z-index: 6;
		}

		#map-base {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}

		#map-clip {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			right: 0;
			bottom: 0;
			z-index: 3;
			overflow: hidden !important;
			border-left: 1px solid #c00;
			pointer-events: none;
		}
			#map-clip .leaflet-control {
			}
		
			#map-clip-inner {
				display: block;
				position: absolute;
				top: 0;
				left: -100%;
				right: 0;
				bottom: 0;
			}

			#map-overlay {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
			}
			
		.leaflet-control-container .leaflet-top.leaflet-right {
			top: 70px;
		}

		.marker-wrapper {
			display: block;
		}

			.marker-info {
				color: rgba(255,255,255,0.0);
				background-color: rgba(204,0,0,1.0);
				border-radius: 16px;
				box-shadow: 0px 0px 1px rgba(0,0,0,1);
				text-align: center;
				width: 8px;
				height: 8px;
				margin-left: 12px;
				margin-top: 12px;
				font-size: 6px;
				line-height: 9px;

				-webkit-appearance: none;
				-webkit-transition: all 200ms ease-out;
				   -moz-transition: all 200ms ease-out;
				     -o-transition: all 200ms ease-out;
				        transition: all 200ms ease-out;
			}

				.marker-wrapper.hover .marker-info {
					background-color: rgba(204,0,0,1);
					color: rgba(255,255,255,1);
					box-shadow: 0px 0px 8px rgba(0,0,0,1);
					width: 32px;
					height: 32px;
					margin-left: 0px;
					margin-top: 0px;
					font-size: 23px;
					line-height: 36px;
				}
			
		#control-slider {
			display: block;
			position: absolute;
			top: 20px;
			left: 50%;
			width: 40px;
			height: 40px;
			margin-left: -20px;
			background-color: #c00;
			border-radius: 100%;
			text-align: center;
			line-height: 44px;
			font-size: 1em;
			z-index: 10;
			font-weight: bold;
			color: #fff;
			cursor: ew-resize;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			box-shadow: 0px 0px 20px rgba(0,0,0,1);
			text-shadow: 0px 0px 3px rgba(0,0,0,0.33);
		}
		
			.has-touch #control-slider {
				top: 50px;
			}

			#control-slider i {
				margin: 0px -0.2em;
			}

			#control-slider::before, #control-slider::after {
				display: block;
				position: absolute;
				padding: 1px 10px 0px 10px;
				top: 8px;
				z-index: -1;
				color: #fff;
				font-size: 1em;
				font-weight: bold;
				height: 23px;
				line-height: 22px;
				background-color: #c00;
				letter-spacing: 0.1em;
				border-radius: 7px;
			}

				#control-slider::before {
					content: "1928";
					text-align: right;
					padding-right: 40px;
					right: 0px;
				}

				#control-slider::after {
					content: "2015";
					text-align: left;
					padding-left: 40px;
					left: 0px;
				}
		
		#credit {
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 3;
			padding: 10px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;
		}

			.small #credit {
				background-color: rgba(0,0,0,0.8);
				padding: 0;
				margin: 0;
				left: 0;
			}
			
			#credit a {
				display: inline-block;
				float: left;
				position: relative;
				text-decoration: none;
			}
		
			#tsp {
				color: transparent;
				height: 40px;
				width: 180px;
				background: url(../images/tagesspiegel.svg) center center no-repeat;
				background-size: contain;
				margin: 0 20px;
				padding: 0;
			}
		
			#tspdata, #source {
				-webkit-touch-callout: auto;
				-webkit-user-select: auto;
				-khtml-user-select: auto;
				-moz-user-select: auto;
				-ms-user-select: auto;
				user-select: auto;
				pointer-events: auto;
			}
		
			#tspdata {
				color: transparent;
				height: 48px;
				width: 270px;
				background: url(../images/tagesspiegelData.png) center center no-repeat;
				background-size: contain;
				margin-left: 20px;
				padding: 0;
			}

			#source {
				width: 140px;
				height: 32px;
				padding: 0;
				color: #fff;
				font-size: .8em;
				line-height: 16px;
				text-shadow: 0 0 3px #000, 0 0 5px #000, 0 0 10px #000;
				padding: 4px 0;
				text-align: right;
				font-weight: 400;
			}
				
				.small #credit {
					text-align: center;
				}

				.small #tspdata, .small #source {
					display: inline;
					float: none;
					width: 100%;
					font-size: .7em;
					height: auto;
					padding: 3px 0;
					color: #aaa;
					background: none;
					text-shadow: none;
				}

				.small #tspdata {
					margin-left: 5px;
				}

